#tools_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tools_table td, #tools_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tools_table tr:nth-child(even){background-color: #f2f2f2;}

#tools_table tr:hover {background-color: #ddd;}

#tools_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

* {
    padding:0;
    margin:0;
}


.float{
    font-size:20px;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}